body {
  margin: 0;
  background-color: #1D8DC2;
  font-family: 'Roboto';
}

.header {
  position: fixed;
  background-color: #147AA7;
  height: 10%;
  width: 100%;
}

.trello-logo {
  opacity: .3;
  height: 80%;
  margin: 5px 40%;
}

.bar > p {
  display: inline-block;
  color: #fff;
  padding: 6% 3%;
  font-weight: bold;
}

.default-input{
  margin-left: 10px;
  padding: 5px;
}

.form-container {
  width: 200px;
  display: inline-block;
  margin-left: 10px;
  padding: 5px;
  background-color: #E6E6EB;
}

.save-btn {
  background: #71BE5B;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 10px;
}

.delete-btn {
  color: #999ba1;
  font-weight: bolder;
  margin: 15px;
  vertical-align: middle;
}
.task-link{
  color: #999ba1;
}
